html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Segoe UI", Arial;
  /* font-weight: normal; */
  font-size: 2.3vmin;
  color: rgb(240, 18, 103);
  user-select: none;
}
scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}
canvas {
  width: 100%;
  height: 100%;
}

 dialog[type=splash] { /*bezieht sich auf den weißen Block mit der Beschreibung */
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white(0, 0, 0);
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
}
dialog[type=splash]>img#FudgeStoryLogo {
  
  /* background-image: url("Background/alexander-grey-62vi3TG5EDg-unsplash.jpg"); */
  width: 50%;

}
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgb(57, 56, 57);
  width: 100%;
  height: 13%;
}

speech content {
  color: rgb(255, 255, 255);
  font-size: 1em;
  position: absolute;
  left: 10px;
}

name {
  font-size: 1.6em;
  display: block;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-left: 5px;
}

/* .choicesCSSClass {
  width: 300px;
  padding: 20px;
  
 
} */
#sayYes {
  font-family: "Lucida Sans", Arial;
}
#sayNo {
  font-family: "Lucida Sans", Arial;
}
#sayOk {
  font-family: "Lucida Sans", Arial;
}